:root {
    --primary: rgba(28, 28, 28, 60%);
    --secondary: #fff;
    --yellow: #fdb913;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    background: #600C9D;
    background: radial-gradient(circle, rgba(96, 12, 157, 1) 0%, rgba(0, 23, 96, 1) 50%);
    color: var(--secondary);
    font-family: sans-serif;
    gap: 2rem;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
}

body > p {
    text-align: center;
}

main {
    display: flex;
    gap: 1rem 2rem;
}

.mac-info-area {
    height: fit-content;
    flex: 0 0 fit-content;
}

textarea {
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    height: 5rem;
    width: 20dvw;
    min-width: 10rem;
    max-width: 45dvw;
    min-height: 1.5rem;
    max-height: 70dvh;
    resize: both;

    background-color: rgba(255, 255, 255, 80%);
}

div.mac-info-area {
    width: 100%;
    max-width: 45dvw;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 1rem;
}

.button {
    background-color: rgba(0, 23, 96, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 40%);
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: rgba(96, 12, 157, 1);
}
.button:active {
    background-color: var(--yellow);
    color: rgba(96, 12, 157, 1);
}

.mac-entry {
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

